.minecraft/logs/
.minecraft/modernfix/
.minecraft/saves/
.minecraft/XaeroWaypoints*
.minecraft/XaeroWorldMap/
.minecraft/usercache.json
.minecraft/usernamecache.json
.minecraft/patchouli_data.json
.minecraft/rhino.local.properties
.minecraft/simplebackups/
.minecraft/blueprints/
.minecraft/mod_data/
.minecraft/mods/.index/
.minecraft/crash-reports/
.minecraft/local/
.minecraft/fancymenu_data/
.minecraft/essential/
.!minecraft/essential/config.toml
.minecraft/whitelist.json
.minecraft/v6_config.json
.minecraft/TrashSlotSaveState.json
.minecraft/servers.dat
.minecraft/servers.dat_old
.minecraft/servers.essential.dat
.minecraft/ops.json
.minecraft/showdown/
.minecraft/pfm/cache/